<div class="StudentViewComponent">
  <div class="ListStudent">
    <mat-form-field>
      <mat-label>Filtro</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        [(ngModel)]="value"
        placeholder="Ex. Juan"
        #input
      />
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{ element._id }}</td>
      </ng-container>

      <!-- Nombre Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
      </ng-container>

      <!-- Apellido Column -->
      <ng-container matColumnDef="apellido">
        <th mat-header-cell *matHeaderCellDef>apellido</th>
        <td mat-cell *matCellDef="let element">{{ element.apellido }}</td>
      </ng-container>

      <!-- LenguaEspanola Column -->
      <ng-container matColumnDef="Lengua Espanola">
        <th mat-header-cell *matHeaderCellDef>Lengua Espanola</th>
        <td mat-cell *matCellDef="let element">{{ element.Lengua_espanola }}</td>
      </ng-container>

      <!-- Matematicas -->
      <<ng-container matColumnDef="Matematicas">
        <th mat-header-cell *matHeaderCellDef>Matematicas</th>
        <td mat-cell *matCellDef="let element">{{ element.Matematica }}</td>
      </ng-container>

      <!-- CienciasNaturales -->
      <ng-container matColumnDef="Ciencias Naturales">
        <th mat-header-cell *matHeaderCellDef>Ciencias Naturales</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Ciencias_naturales }}
        </td>
      </ng-container>

      <!-- CienciasSociales -->
      <ng-container matColumnDef="Ciencias Sociales">
        <th mat-header-cell *matHeaderCellDef>Ciencias Sociales</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Ciencias_sociales }}
        </td>
      </ng-container>

      <!-- Promedio -->
      <ng-container matColumnDef="Promedio">
        <th mat-header-cell *matHeaderCellDef>Promedio</th>
        <td mat-cell *matCellDef="let element">{{ element.Literal }}</td>
      </ng-container>

      <!-- Botón Edit Column -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-mini-fab
            color="primary"
            aria-label="Example icon button with a menu icon"
            (click)="editStudent(element._id)"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Botón Delete Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-mini-fab
            color="warn"
            aria-label="Example icon button with a menu icon"
            (click)="deleteStudent(element._id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>
  </div>

  <!-- Add student -->

  <div class="AddStudent" *ngIf="!onEdit">
  
    <table mat-table [dataSource]="dataSourceAdd" class="mat-elevation-z8">
  
      <!-- Nombre Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field>
            <input matInput [(ngModel)]="element.nombre" />
          </mat-form-field>
        </td>
      </ng-container>
  
      <!-- Apellido Column -->
      <ng-container matColumnDef="apellido">
        <th mat-header-cell *matHeaderCellDef>apellido</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field>
            <input matInput [(ngModel)]="element.apellido" />
          </mat-form-field>
        </td>
      </ng-container>
  
      <!-- LenguaEspanola Column -->
      <ng-container matColumnDef="Lengua Espanola">
        <th mat-header-cell *matHeaderCellDef>LenguaEspanola</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field>
            <input matInput [(ngModel)]="element.Lengua_espanola" />
          </mat-form-field>
        </td>
      </ng-container>
  
      <!-- Matematicas -->
      <<ng-container matColumnDef="Matematicas">
        <th mat-header-cell *matHeaderCellDef>Matematica</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field>
            <input matInput [(ngModel)]="element.Matematica" />
          </mat-form-field>
        </td>
      </ng-container>
  
      <!-- CienciasNaturales -->
      <ng-container matColumnDef="Ciencias Naturales">
        <th mat-header-cell *matHeaderCellDef>CienciasNaturales</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field>
            <input matInput [(ngModel)]="element.Ciencias_naturales" />
          </mat-form-field>
        </td>
      </ng-container>
  
      <!-- CienciasSociales -->
      <ng-container matColumnDef="Ciencias Sociales">
        <th mat-header-cell *matHeaderCellDef>CienciasSociales</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field>
            <input matInput [(ngModel)]="element.Ciencias_sociales" />
          </mat-form-field>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumnsAdd"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsAdd"></tr>
    </table>
    <div class="demo-button-container">
      <button mat-flat-button (click)="addData()" class="demo-button">
        Crear Usuario
      </button>
    </div>
  </div>

  <!-- Edit -->

  <div class="ModicStudent" *ngIf="onEdit">
    <div class="demo-button-container">
      <button mat-flat-button color="accent" (click)="back()" class="demo-button">
        Volver
      </button>
      <h2>
        Editando a {{nameToEdit}} {{lastNameToEdit}}
      </h2>
    </div>
    <table mat-table [dataSource]="dataSourceAdd" class="mat-elevation-z8">
  
      <!-- Nombre Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field>
            <input matInput [(ngModel)]="element.nombre" />
          </mat-form-field>
        </td>
      </ng-container>
  
      <!-- Apellido Column -->
      <ng-container matColumnDef="apellido">
        <th mat-header-cell *matHeaderCellDef>apellido</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field>
            <input matInput [(ngModel)]="element.apellido" />
          </mat-form-field>
        </td>
      </ng-container>
  
      <!-- LenguaEspanola Column -->
      <ng-container matColumnDef="Lengua Espanola">
        <th mat-header-cell *matHeaderCellDef>LenguaEspanola</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field>
            <input matInput [(ngModel)]="element.Lengua_espanola" />
          </mat-form-field>
        </td>
      </ng-container>
  
      <!-- Matematicas -->
      <<ng-container matColumnDef="Matematicas">
        <th mat-header-cell *matHeaderCellDef>Matematica</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field>
            <input matInput [(ngModel)]="element.Matematica" />
          </mat-form-field>
        </td>
      </ng-container>
  
      <!-- CienciasNaturales -->
      <ng-container matColumnDef="Ciencias Naturales">
        <th mat-header-cell *matHeaderCellDef>CienciasNaturales</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field>
            <input matInput [(ngModel)]="element.Ciencias_naturales" />
          </mat-form-field>
        </td>
      </ng-container>
  
      <!-- CienciasSociales -->
      <ng-container matColumnDef="Ciencias Sociales">
        <th mat-header-cell *matHeaderCellDef>CienciasSociales</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field>
            <input matInput [(ngModel)]="element.Ciencias_sociales" />
          </mat-form-field>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumnsAdd"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsAdd"></tr>
    </table>

    <div class="button-container-modic">
      <button mat-flat-button (click)="editData()" class="demo-button">
        Modoficar estudiante
      </button>
    </div>
  </div>

</div>
