div{
  display: flex;
  flex-direction: column;
  gap: 20px;

  div{


  }

  table{

    th{
      text-align: center;
    }
    td{
      text-align: center;

      mat-form-field{
        max-width: 120px;
      }
    }
  }
}